<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KLPR Demo</title>
    <style>
        h1{
            text-align: center;
        }
        div{
            width: 100%;
            height: 50vh;
            background-color: darkgray;
            text-align: center;
        }
        input{
            width: 150px;
            margin: 10px;
            display: inline;
        }
    </style>
</head>
<body>
    <h1>Khmer License Plate System Demo</h1>
    <div>
        <p>Some information will be here in the future.</p>
    </div>
    <form action="/image" method="get" target="_blank">
        <input type="submit" value="Test with image">

    </form>

    <form action="/video" method="get" target="_blank">
        <input type="submit" value="Test with video">
    </form>
    
</body>
</html>